html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input[type=text] {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

#proj-title-btn {
  font-size: small;
  text-decoration: none;
  cursor: pointer;
}

#proj-title-dialog {
  width: 450px;
  height: 250px;
  margin: 2em;
  padding: 2em;
  border: 3px solid black;
}

#proj-title-dialog label {
  display: block;
  margin-top: 1em;
}

#proj-title-buttons {
  text-align: right;
}

#proj-title-input {
  height: 2em;
}